$main_fonts: 'Lato', sans-serif;
$title_fonts:'Nunito',sans-serif;
// colors

$orange_color:rgb(242,150,63);
$green_color:rgb(127,197,64);
$grey_color:rgb(68,68,68);
$font_color:#777777;
$white_color:#FFFFFF;


// font-size

$font_size_mini:0.875rem;